.inner-container{
    gap: 1.5rem;
    background: #4161df;
    padding: 2rem;
    border-radius:10px;
    border: 6px solid #5d77d6;
    text-align: center;

}
.inner-container .primaryText{
    color: white;
    font-weight: 600;

}
.inner-container .secondaryText{
    color:rgba(255,255,255,0.587)
    
};
.inner-container>:nth-child(3){
    background:rgba(0,0,0,0.24);
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: var(--shadow);
    
}
/* .inner-container>:nth-child(3):hover{
    width:0px;
    funnnnnn
} */


